html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 2.5rem;
    opacity: 60%;
}

h2 {
    font-size: 2rem;
    opacity: 60%;
}

h3 {
    opacity: 60%;
    font-size: 1.5rem;
    font-weight: 400;
}

h4 {
    opacity: 60%;
    font-weight: 400;
    margin: 0;
}

p {
    opacity: 60%;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
}

img {
    width: 100%;
}

a {
    color: hsl(210, 100%, 70%);
    text-decoration: none;
}

/*
HEADER
*/

header {
    height: 64px; 
    padding: 0 24px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: auto;
}

.left {
    height: 2rem;
    display: inline-flex;
    font-size: 1.5rem;
}

.left span {
    font-weight: bold;
}

.left p {
    margin: 0;
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
}

.right {
    display: inline-flex;
}

.right h4 {
    padding-right: 1rem;
}


/*
BANNER
*/

.banner {
    background-color: lightgray;
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 60%;
}

.text {
    padding-left: 1.5rem;
    max-width: 400px;
}

.button {
    background-color: hsl(0, 0%, 35%);
    color: white;
    text-align: center;
}

.button p{
    padding: 8px 0;
    font-size: 1.15rem;
    opacity: 100%;
}


/*
EVENTS
*/

.events {
    display: flex;
}

.events h3 {
    font-weight: 700;
    margin: 0;
}

.events p {
    margin: 0;
    padding: 0.5rem 0;
}

.main-event {
    padding: 2rem 1.5rem;
    width: 60%;
    border: 1px solid hsl(0, 0%, 95%);
}

.main-event h2 {
    padding: 2rem 0 1.5rem 0;
}

.side-panel {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.small-event {
    padding: 1rem;
    border: 1px solid hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
}

.small-event img {
    width: 35%;
}

.panel-text {
    padding-left: 20px;
}

#last{
    background-color: lightgray;
}