html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 2.5rem;
    opacity: 70%;
}

h3 {
    opacity: 70%;
    font-size: 1.5rem;
    font-weight: 400;
}

/*
HEADER
*/

header {
    height: 64px; 
    padding: 0 24px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    height: 32px;
    display: inline-flex;
    font-size: 1.5rem;
}

.left span {
    font-weight: bold;
}

.left p {
    margin: 0;
    padding-left: 10px;
    opacity: 70%;
}

.right {
    display: inline-flex;
}

.right p {
    padding-right: 16px;
    margin: 0;
}


/*
BANNER
*/

.banner {
    background-color: lightgray;
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 60%;
}

.banner img {
    width: 100%;
}

.text {
    padding-left: 1.5rem;
    max-width: 400px;
}

.button {
    background-color: hsl(0, 0%, 35%);
    color: white;
    text-align: center;
}

.button p{
    padding: 8px 0;
    font-size: 1.15rem;
}
