html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 2.5rem;
    opacity: 60%;
}

h2 {
    font-size: 2rem;
    opacity: 60%;
}

h3 {
    opacity: 60%;
    font-size: 1.5rem;
    font-weight: 400;
}

h4 {
    opacity: 60%;
    font-weight: 400;
    margin: 0;
}

p {
    opacity: 60%;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
}

img {
    width: 100%;
}

a {
    color: hsl(210, 100%, 70%);
    text-decoration: none;
}

/*
HEADER
*/

header {
    height: 64px; 
    padding: 0 24px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: auto;
}

.left {
    height: 2rem;
    display: inline-flex;
    font-size: 1.5rem;
}

.left span {
    font-weight: bold;
}

.left p {
    margin: 0;
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
}

.right {
    display: inline-flex;
}

.right h4 {
    padding-right: 1rem;
}

header .mobile {
    display: none;
}


@media only screen and (max-width: 500px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
        width: 100%;
        height: 64px;
    }

    header .mobile ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0 auto;
        position: relative;
        top: 25%
    }

    header .mobile img {
        width: 36px;
    }
}


/*
BANNER
*/

.banner {
    background-color: lightgray;
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 60%;
}

.text {
    padding-left: 1.5rem;
    max-width: 400px;
}

.button {
    background-color: hsl(0, 0%, 35%);
    color: white;
    text-align: center;
}

.button p{
    padding: 8px 0;
    font-size: 1.15rem;
    opacity: 100%;
}

@media only screen and (max-width: 500px) {
    
    .banner {
        padding: 0;
    }
    
    .container {
        width: 100%;
    }

    .text {
        padding: 2rem 1rem;
        max-width: none;
    }

    .banner h3 {
        margin: 2rem 0 1.5rem 0;
    }
}


/*
EVENTS
*/

.events {
    display: flex;
}

.events h3 {
    font-weight: 700;
    margin: 0;
}

.events p {
    margin: 0;
    padding: 0.5rem 0;
}

.main-event {
    padding: 2rem 1.5rem;
    width: 60%;
    border: 1px solid hsl(0, 0%, 95%);
}

.main-event h2 {
    padding: 2rem 0 1.5rem 0;
}

.side-panel {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.small-event {
    padding: 1rem;
    border: 1px solid hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
}

.small-event img {
    width: 35%;
}

.panel-text {
    padding-left: 20px;
}

#last{
    background-color: lightgray;
}

@media only screen and (max-width: 500px) {
    .events .main-event {
        display: none;
    }

    .events .side-panel {
        width: 100%;
        padding: 1rem 1rem 2rem 1rem;
    }

    .events .small-event {
        border: none;
        display: block;
        padding: 0 0 4rem 0; 
    }

    .events .panel-text {
        padding-left: 1rem;
        padding-top: 1.5rem;
    }

    .events img {
        width: 100%;
        height: 200px; 
        object-fit: cover;
    }

    #last {
        background-color: white;
        padding-bottom: 0;
    }
}


/*
LEARNING
*/

.learning {
    padding: 2rem 2.5rem;
    background-color: hsl(0, 0%, 95%);
    text-align: center;
}

.learning h2 {
    text-align: center;
}

.course-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course {
    margin: 2rem;
    background-color: white;
    text-align: left;
    max-width: 25%;
}

.course h3 {
    font-weight: 700;
    margin: 0;
}

.course p {
    margin: 0.5rem 0;
}

.course-text {
    padding: 1rem 1rem 1.5rem 1rem;
}

.learning .mobile {
    display: none;
}

@media only screen and (max-width: 500px) {
    .learning {
        padding: 2rem 1rem;
    }

    .learning h2 {
        margin: 0;
        padding-bottom: 1rem;
    }

    .course-grid {
        display: none; 
    }

    .learning .mobile {
        display: block;
    }

    .learning .mobcourse {
        background-color: lightgray;
        text-align: left;
        margin: 8px 0;
    }

    .mobcourse h3 {
        padding: 1rem;
        font-weight: bold;
        margin: 0;
        font-family: "Montserrat", sans-serif;
    }
}

/*
THESIS EXHIBIT
*/

video {
    width: 100%;
}

.thesis .main-event {
    border: none;
    padding: 0 1.5rem 2rem 1.5rem;
}

.thesis .small-event {
    border: none;
}

.thesis h2{
    text-align: center;
    margin: 0;
    padding: 2rem 0;
}

.exhibits h3 {
    font-weight: 700;
}

.exhibits {
    display: flex;
}

@media only screen and (max-width: 500px) {
    .thesis h2 {
        padding: 2rem 0 1rem 0;
    }

    .thesis {
        padding-bottom: 1.5rem;
    }

    .exhibits .side-panel {
        display: none;
    }

    .exhibits .main-event {
        width: 100%;
        padding: 0;
    }

    .exhibits h3, p {
        display: none;
    }
}

/*
FOOTER
*/

footer {
    padding: 1rem 1.5rem;
    border-top: 1px solid hsl(0, 0%, 95%);
    display: flex;
    justify-content: space-between;
}

.foot-left {
    text-align: left;
}

footer p {
    display: inline-block;
    padding-left: 1rem;
    font-size: 0.8rem;
}

@media only screen and (max-width: 500px) {
    footer .foot-right {
        display: none;
    }

    footer {
        border: none;
        padding: 1rem 0;
    }
}